// Huvudfärg
$mainColor: rgb(245, 245, 240);

//Div design
@mixin divStyle {
    background-color: $mainColor;
    width: fit-content;
    max-width: 90%;
    margin: 1% auto;
    border-radius: 1rem;
    padding: 1%;
}